[submodule "vim/.vim/pack/vendor/start/vim-sleuth"]
	path = vim/.vim/pack/vendor/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim/.vim/pack/vendor/start/gruvbox"]
	path = vim/.vim/pack/vendor/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/.vim/pack/vendor/start/vim-commentary"]
	path = vim/.vim/pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/pack/vendor/start/vim-fugitive"]
	path = vim/.vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/pack/vendor/start/vim-godot"]
	path = vim/.vim/pack/vendor/start/vim-godot
	url = https://github.com/habamax/vim-godot
[submodule "vim/.vim/pack/vendor/start/vim-rhubarb"]
	path = vim/.vim/pack/vendor/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "vim/.vim/pack/vendor/start/vim-surround"]
	path = vim/.vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround
